body::before {
    content: "";
    position: fixed;
    background-size: cover;
    left: 0;
    right: 0;
    top: 0;
    height: 100vh;
    z-index: -1;
    background: #151515;
    /*background: url("../images/bg.jpg") no-repeat fixed top right;*/
}

.langSelection {
    position: fixed;
    bottom: 20px;
    left: 20px;
    z-index: 99999;
}

.langSelection a, .langSelection span {
    color: #bbb;
}

.langSelection span {
    font-size: 1.2em;
}

.langSelection span.selected {
    color: #d58512;
}
