section {
    overflow: hidden;
    position: absolute;
    top: 130px;
    width: 100%;
    height: 0;
    opacity: 0;
    transition: ease-in-out 0.5s;
}

section.section-show {
    opacity: 1;
    top: 90px;
    height: auto;
    padding-bottom: 45px;
}

section .container {
    background: rgba(0, 0, 0, 0.9);
    padding: 2em;
}

section h2 {
    font-size: 1.25em;
    letter-spacing: 2px;
    text-transform: uppercase;
    color: #bbb;
    text-decoration: underline 2px #d58512;
    text-underline-offset: 8px;
}
